/* your styles go here
  @media screen (none) {
    一番小さい画面幅
  }
  @media screen and (min-width: 768px) {
    真ん中の画面幅
  }
  @media screen and (min-width: 992px) {
    一番大きい画面幅
  }
*/

/*
  --- sidebar ---
  サイドバーの固定を行うためのcss
*/
#sidebar-parent-mine.active #sidebar {
  position: fixed;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  left: 0%;
}

#sidebar {
  height: 100%;
  z-index: 10;
  /* background-color: #444; */
}

#main-contents-mine {
  margin-left: 0%;
}

@media screen and (min-width: 768px) {
  #sidebar {
    position: fixed;
  }
  #main-contents-mine {
    margin-left: 33.33333333%;
  }
}

@media screen and (min-width: 992px) {
  #sidebar {
    position: fixed;
  }
  #main-contents-mine {
    margin-left: 25%;
  }
}

/*
  --- copyright ---
  コピーライトの再配置を行うためのcss
*/
#copyright-mine p.credit {
  text-align: center !important;
}

@media screen and (min-width: 768px) {
  #copyright-mine {
    margin-left: 33.33333333%;
  }
}

@media screen and (min-width: 992px) {
  #copyright-mine {
    margin-left: 25%;
  }
}